/* Mobile */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 425px) {
  /* Header */
  header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }

  .logo-header {
    font-size: 12px;
  }

  ul {
    display: none;
  }

  .hamburger-container {
    /* background-color: black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .toggle1 {
    background-color: black;
    padding: 2px 20px;
  }

  .nav-btn {
    padding: 10px 20px;
    background-color: white;
    border: 1px solid;
    transition: all 0.3s ease;
    font-size: 18px;
    font-weight: 600;
  }

  /* Hero */
  .hero img {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }

  /* Hero-info */

  .hero-info {
    position: absolute;
    top: 10px;

    left: 1.8rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .main-heading {
    font-size: px;
    font-weight: 600;
    width: 70%;
  }

  .sub-heading {
    font-size: 20px;
    width: 20%;
    /* margin-top: -100px; */
  }

  .hero-btn {
    width: 50%;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

/* Tablet */
@media (max-width: 990px) {
  header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .hamburger-container {
    /* background-color: black; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .toggle1 {
    background-color: black;
    padding: 2px 20px;
  }

  ul {
    display: none;
  }

  /* Hero */
  .hero img {
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
  }

  /* Hero-info */

  .hero-info {
    position: absolute;
    top: 25px;

    left: 4rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .main-heading {
    font-size: 40px;
    font-weight: 600;
    width: 100%;
  }

  .sub-heading {
    font-size: 20px;
    width: 20%;
    /* margin-top: -100px; */
  }

  .hero-btn {
    width: 60%;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
}

/*========================================================================== 
 Small screens (Tablets, landscape phones, 576px and up) 
==========================================================================*/

@media (min-width: 576px) {
  /* About Section */
  .about-container {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .about-img img {
    width: 90vw;

    /* height: 100vh; */
    /* background-position: center; */
    /* background-size: cover; */
  }

  .icon-container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
}

/* ==========================================================================
   Medium screens (Laptops, small desktops, 768px and up)
   ========================================================================== */
@media (min-width: 768px) {
  .about-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .about-img img {
    width: 100%;
    flex: 1;
  }
}
/* ==========================================================================
   Large screens (Desktops, 992px and up)
   ========================================================================== */
@media (min-width: 992px) {
  /* About Section */
  .about-container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .first-container {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .about-img img {
    width: 100%;
    flex: 1;

    /* height: 100vh; */
    /* background-position: center; */
    /* background-size: cover; */
  }

  .about-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
  }

  .about-info h1 {
    font-size: 38px;
  }

  .icon-container {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  .icon-con1 {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .icon-info p {
  }
}

/* ==========================================================================
   Extra large screens (Large desktops, 1200px and up)
   ========================================================================== */
@media (min-width: 1200px) {
  .about-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .about-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
    /* width: 90%; */
  }

  .about-info p {
    width: 70%;
  }
}

/* ==========================================================================
   Extra extra large screens (Ultra-wide screens, 1400px and up)
   ========================================================================== */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
